body {
  font-family: Rubik;
  background-color: rgb(245, 247, 250);
  margin: 0px;
  padding: 0px;
}
nav {
  display: flex;
  align-items: center;
  padding: 0px 242px;
  justify-content: space-between;
  height: 56px;
  background-color: rgba(245, 247, 250);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  margin-top: 8px;
}
.whole-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container {
  cursor: pointer;
}
.nav-list-container {
  display: flex;
  align-items: center;
}
.nav-list-container p {
  font-weight: 470;
  color: #11161D;
  font-size: 15px;
  cursor: pointer;
 
}
.nav-list-container p:hover {
  color:#00A2FF;
}
.list-container {
  display: flex;
  gap: 29.5px;
  margin-left: 37px
}
.login-btn {
  padding: 10px 12.6px;
  border-radius: 11px;
  border: 2px solid rgb(186, 186, 186);
  background-color: rgba(245, 247, 250);
  font-size: 14px;
  font-weight: 1000;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.login-btn:hover {
  color:#00A2FF;
  border: 2px solid #00A2FF;
}
.signup-btn {
  padding: 8px 11px;
  color: white;
  background: #00A2FF;
  border: 2px solid rgb(96, 146, 210);
  border-radius: 10px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.3px;
  word-spacing: -1px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.signup-btn:hover {
  background-color: rgb(245, 247, 250);
  color: #00A2FF;
}
.button-container {
  display: flex;
  gap:20px;
  margin-right: 15px;
}
.div-span{
  display: flex;
  gap: 5px;
  justify-content: center;
}
img {
  width: 10px;
  object-fit: contain;
  cursor: pointer;
}
span {
  display: flex;
}
/* --------------------SECTION----------------------- */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section h1 {
  text-align: center;
  color:  rgb(113, 113, 113);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bold-description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  line-height: 73px;
}
 .send-email-letter {
  font-size: 64px;
  font-weight: 700;
  color: black;
  width: 1086px;
  margin: 0px;
 }
 .last-description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  text-align: center
 }
 .last-description-container p {
  font-size: 18px;
  font-weight: 400;
  width: 850px;
  line-height: 27px;
  margin: 0;
  color: rgba(31, 31, 31, 0.836);
 }
 .start-btn {
  padding: 17px 31px;
  border-radius: 24px;
  font-weight: 600;
  font-size: 18px;
  border: 3px solid #e3d500;
  background: #fbe30c;
  line-height: 1;
  cursor: pointer;
  border-radius: 24px;
  margin-top: 60px;
  font-family: Rubik;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
 }
 .start-btn:hover {
    background-color: #00A2FF;
    color: white;
    border: 3px solid #227fb4
 }
 .vertical-line {
    height: 12px;
    width: 1px;
    background-color: rgb(176, 176, 176);
    margin: 0px 6px;
 }
 .tiny-letter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
 }
 .tiny-letter-container p {
    font-family: Rubik;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.3px;
 }
 .burger-div{
    width: 40px;
    display: none;
}
.logo-main {
  display: none;
}

 @media (max-width: 600px) {
  .list-container, .login-btn {
    display: none;
  }
  nav {
    max-width: 100%;
    height: 88px;
    padding: 0px 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    padding: 0px 30px;
  }
  .send-email-letter {
    font-size: 24px;
    font-weight: 700;
    color: black;
    width: 349px;
    line-height: 29.3px;
    text-align: center;
   }
   .last-description-container {
    max-width: 350px;
   }
   .last-description-container p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
   }
   .burger-div {
    position: absolute;
    display: block;
    right: 7.5%;
    top: 1.4em;
   }
   .log-path {
    display: none;
   }
   .signup-btn {
    position: absolute;
    left: 37%;
    top: 34px
   } 
  .logo-container {
    display: none;
  }
  .logo-main {
    display: block; 
  }
  .logo-box {
    position: absolute;
    left: 8%;
  }
  .burger-menu {
    margin-top: 8px;
    width: 45px;
  }
  .button-container {
    margin-left: 0.6rem;
  }
}